{% include "header.html" %}

<div class"container my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h2>My Order</h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thread>
                            <tr>
                                <th>Order Date</th>
                                <th>Tracking No</th>
                                <th>Total Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thread>
                        <tbody>
                            {% for item in orders %}
                            <td>{{item.created_at}}</td>
                            <td>{{item.tracking_no}}</td>
                            <td>{{item.total_price}}</td>
                            <td>{{item.status}}</td>
                            <td><a href="{% url "orderview" tracking_no  %}" class="btn btn-primary">View</a></td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
                                
