{% include "header.html" %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="#">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        <form action="" method="POST">
                         {% csrf_token %}
                            <div class="text-center">
                                <h4>Registration Form </h4>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="">Username:{{for.username.label}}</label>
                                {{form.username}}
                                 {% if form.error.username %}
                                  <label class="text-danger">{{form.error.username}}</label>
                                 {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="">Email:</label>
                                {{form.email}}
                                 {% if form.error.email %}
                                  <label class="text-danger">{{form.error.email}}</label>
                                 {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="">Password:</label>
                                {{form.password1}}
                                 {% if form.error.password1 %}
                                  <label class="text-danger">{{form.error.password1}}</label>
                                 {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="">Confirm Password:</label>
                                {{form.password2}}
                                 {% if form.error.password2 %}
                                  <label class="text-danger">{{form.error.password2}}</label>
                                 {% endif %}
                            </div>
                            <button type="submit" class="btn float-end shadow btn-success px-4"><a href="{% url "loginpage" %}">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

